@use "../variables.scss";

.ant-btn {
  min-width: 8em;
}

// .ant-btn-primary {
//   color: #fff;
//   border-color: variables.$color-third;
//   background: variables.$color-third;
// }
.ant-btn-primary:hover,
.ant-btn-primary:focus .ant-btn-primary:active {
  // color: #000;
  border-color: variables.$color-third;
  background: variables.$color-third;
  filter: contrast(105%);
}

.ant-btn:focus,
.ant-btn:active {
  text-decoration: none;
  // background: variables.$color-forth;
}
.ant-btn-primary:hover,
.ant-btn-primary:focus {
  border-color: variables.$color-third;
  background: variables.$color-third;
}
